In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
import seaborn as sns

In [80]:
train_data = pd.read_csv('data/england.csv')
test_data = pd.read_csv('data/future.csv')

In [4]:
train_data.head()

,date,time,day_of_week,season,country,league,league_level,home_team,away_tem,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link,home_scored,away_scored
0,28.12.2016,19:45,Wednesday,2016,england,premier-league-2016-2017,1,Southampton,Tottenham,3.03,3.20,2.61,1.54,1.42,1.38,1.07,7.9,1.35,3.29,1.55,2.52,2.19,1.77,3.20,1.37,3.93,1.26,1.86,2.02,https://www.oddsportal.com/soccer/england/prem...,1,4
1,08.04.2017,14:00,Saturday,2017,england,premier-league-2016-2017,1,Manchester City,Hull,1.19,7.96,16.00,1.02,5.40,1.10,0.00,0.0,1.09,7.40,1.09,6.80,1.35,3.26,1.50,2.66,1.93,1.96,1.95,1.93,https://www.oddsportal.com/soccer/england/prem...,3,1
2,17.12.2016,15:00,Saturday,2016,england,premier-league-2016-2017,1,Middlesbrough,Swansea,2.11,3.33,3.98,1.28,1.79,1.36,1.07,7.9,1.36,3.22,1.57,2.47,2.23,1.74,3.15,1.38,3.93,1.27,1.94,1.94,https://www.oddsportal.com/soccer/england/prem...,3,0
3,05.11.2016,15:00,Saturday,2016,england,premier-league-2016-2017,1,Manchester City,Middlesbrough,1.21,7.43,16.00,1.03,4.89,1.11,1.07,15.0,1.17,6.23,1.21,5.70,1.49,2.89,1.79,2.26,2.16,1.73,2.00,1.77,https://www.oddsportal.com/soccer/england/prem...,1,1
4,01.04.2017,16:30,Saturday,2017,england,premier-league-2016-2017,1,Southampton,Bournemouth,1.67,4.11,5.38,1.17,2.30,1.27,0.00,0.0,1.21,4.50,1.32,3.52,1.80,2.20,2.25,1.68,2.81,1.44,1.77,2.15,https://www.oddsportal.com/soccer/england/prem...,0,0

In [115]:
train_data = train_data.rename(columns={'away_tem':'away_team'})
test_data = test_data.rename(columns={'away_tem':'away_team'})

In [116]:
test_data.head()

,date,time,day_of_week,season,country,league,league_level,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link
0,10.03.2022,19:30,Today,2022,england,premier-league,1,Norwich,Chelsea,10.95,5.66,1.30,3.70,1.06,1.17,1.03,10.69,1.22,4.13,1.33,3.30,1.73,2.18,2.19,1.70,2.73,1.45,2.23,1.65,https://www.oddsportal.com/soccer/england/prem...
1,10.03.2022,19:30,Today,2022,england,premier-league,1,Southampton,Newcastle,2.00,3.73,3.79,1.29,1.89,1.30,1.05,9.25,1.24,3.89,1.37,3.07,1.81,2.08,2.33,1.61,2.89,1.40,1.68,2.18,https://www.oddsportal.com/soccer/england/prem...
2,10.03.2022,19:30,Today,2022,england,premier-league,1,Wolves,Watford,1.86,3.51,4.77,1.21,2.01,1.33,1.11,5.81,1.44,2.77,1.76,2.10,2.37,1.62,3.52,1.29,4.23,1.21,2.16,1.69,https://www.oddsportal.com/soccer/england/prem...
3,10.03.2022,19:45,Today,2022,england,premier-league,1,Leeds,Aston Villa,2.74,3.61,2.56,1.56,1.49,1.32,1.04,9.92,1.21,4.16,1.32,3.34,1.72,2.20,2.15,1.73,2.69,1.47,1.59,2.33,https://www.oddsportal.com/soccer/england/prem...
4,12.03.2022,12:30,Saturday,2022,england,premier-league,1,Brighton,Liverpool,6.20,4.61,1.52,2.65,1.14,1.22,1.02,11.29,1.20,4.41,1.29,3.54,1.66,2.28,2.06,1.79,2.58,1.50,1.75,2.05,https://www.oddsportal.com/soccer/england/prem...

In [117]:
train_data[train_data.total_over_1_rate.isna()]

,date,time,day_of_week,season,country,league,league_level,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,link,home_scored,away_scored
950,26.12.2019,15:00,Thursday,2019,england,premier-league-2019-2020,1,Aston Villa,Norwich,2.23,3.79,3.04,1.40,1.69,1.29,NaN,11.0,1.16,5.12,1.22,4.0,1.53,2.50,1.82,2.04,2.32,1.61,1.46,2.74,https://www.oddsportal.com/soccer/england/prem...,1,0
959,27.12.2019,19:45,Friday,2019,england,premier-league-2019-2020,1,Wolves,Manchester City,7.07,5.52,1.40,3.11,1.12,1.17,NaN,15.0,1.15,5.35,1.22,4.4,1.48,2.69,1.77,2.13,2.26,1.65,1.67,2.19,https://www.oddsportal.com/soccer/england/prem...,3,2

In [118]:
train_data = train_data.fillna(1.01)

In [119]:
train_data.date = pd.to_datetime(train_data.date)

In [120]:
train_data = train_data.sort_values(by='date')

In [121]:
numeric_features = train_data.select_dtypes(include=['int', 'float']).columns
numeric_features

Index(['season', 'league_level', 'home_win_rate', 'draw_rate', 'away_win_rate',
       'home_double_chance_rate', 'away_double_chance_rate', 'no_draw_rate',
       'total_over_1_rate', 'total_under_1_rate', 'total_over_15_rate',
       'total_under_15_rate', 'total_over_2_rate', 'total_under_2_rate',
       'total_over_25_rate', 'total_under_25_rate', 'total_over_3_rate',
       'total_under_3_rate', 'total_over_35_rate', 'total_under_35_rate',
       'both_team_to_score_yes', 'both_team_to_score_no', 'home_scored',
       'away_scored'],
      dtype='object')

In [122]:
date_features = ['date', 'time']

In [123]:
train_data = train_data.drop(columns=['link', 'league','country'])
test_data = test_data.drop(columns=['link', 'league', 'country'])

In [124]:
train_data = train_data.drop(columns=['league_level'])
test_data = test_data.drop(columns=['league_level'])

In [125]:
train_data['season'] = train_data.season.astype('object')
test_data['season'] = test_data.season.astype('object')

In [126]:
categorical_features = train_data.drop(columns=['date', 'time']).select_dtypes(include=['object']).columns
categorical_features

Index(['day_of_week', 'season', 'home_team', 'away_team'], dtype='object')

In [127]:
train_data.shape

(1740, 28)

In [128]:
train_data.head()

,date,time,day_of_week,season,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,home_scored,away_scored
154,2016-01-10,14:00,Saturday,2016,West Ham,Middlesbrough,2.08,3.50,4.06,1.27,1.83,1.34,1.06,8.0,1.30,3.54,1.50,2.68,2.10,1.87,2.86,1.45,3.52,1.30,1.78,2.04,1,1
153,2016-01-10,14:00,Saturday,2016,Watford,Bournemouth,2.50,3.34,3.19,1.39,1.60,1.37,1.05,9.0,1.29,3.66,1.47,2.77,2.06,1.91,2.76,1.47,3.38,1.32,1.70,2.15,2,2
49,2016-01-10,14:00,Saturday,2016,Sunderland,West Brom,2.58,3.20,3.19,1.39,1.56,1.39,1.08,7.2,1.37,3.10,1.65,2.30,2.35,1.71,3.40,1.34,4.10,1.24,1.85,1.95,1,1
116,2016-01-10,14:00,Saturday,2016,Hull,Chelsea,7.70,5.00,1.46,3.02,1.10,1.21,1.04,10.5,1.18,4.84,1.27,3.92,1.70,2.34,2.15,1.83,2.63,1.49,1.78,2.04,0,2
92,2016-01-10,11:30,Saturday,2016,Swansea,Liverpool,7.80,5.10,1.46,2.96,1.11,1.20,1.02,13.5,1.13,6.10,1.19,5.00,1.54,2.77,1.77,2.10,2.22,1.66,1.62,2.25,1,2

In [18]:
def set_target(row):
    if row.home_scored > row.away_scored:
        return 0
    elif row.home_scored == row.away_scored:
        return 1
    else:
        return 2

In [129]:
train_data.head()

,date,time,day_of_week,season,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,home_scored,away_scored
154,2016-01-10,14:00,Saturday,2016,West Ham,Middlesbrough,2.08,3.50,4.06,1.27,1.83,1.34,1.06,8.0,1.30,3.54,1.50,2.68,2.10,1.87,2.86,1.45,3.52,1.30,1.78,2.04,1,1
153,2016-01-10,14:00,Saturday,2016,Watford,Bournemouth,2.50,3.34,3.19,1.39,1.60,1.37,1.05,9.0,1.29,3.66,1.47,2.77,2.06,1.91,2.76,1.47,3.38,1.32,1.70,2.15,2,2
49,2016-01-10,14:00,Saturday,2016,Sunderland,West Brom,2.58,3.20,3.19,1.39,1.56,1.39,1.08,7.2,1.37,3.10,1.65,2.30,2.35,1.71,3.40,1.34,4.10,1.24,1.85,1.95,1,1
116,2016-01-10,14:00,Saturday,2016,Hull,Chelsea,7.70,5.00,1.46,3.02,1.10,1.21,1.04,10.5,1.18,4.84,1.27,3.92,1.70,2.34,2.15,1.83,2.63,1.49,1.78,2.04,0,2
92,2016-01-10,11:30,Saturday,2016,Swansea,Liverpool,7.80,5.10,1.46,2.96,1.11,1.20,1.02,13.5,1.13,6.10,1.19,5.00,1.54,2.77,1.77,2.10,2.22,1.66,1.62,2.25,1,2

In [143]:
class DataTransformer:
    def __init__(self, context):
        self.train = context['train']
        self.test = context['test']
        self.numeric_features = context['numeric']
        self.categorical_features = context['categorical']
    
    def run_logic(self):
        self.train['target'] = self.train.apply(self.set_target, axis = 1)
        self.team_encoding()
        self.categorical_encoding()
        self.drop_useless_cols()
        self.split()
        return self.train, self.val, self.test
        
    
    def set_target(self, row):
        if row.home_scored > row.away_scored:
            return 0
        elif row.home_scored == row.away_scored:
            return 1
        else:
            return 2
        
    def drop_useless_cols(self):
        self.train = self.train.drop(columns=['date','time','home_scored','away_scored'])
        self.test = self.test.drop(columns=['date','time'])

        
    def all_time_mean(self):
        pass
    
    def season_mean(self):
        pass
    
    def team_encoding(self):
        all_teams = self.train.sort_values(by='home_team').home_team.unique()
        teams_labels = {team:number for number, team in enumerate(all_teams)}
        self.train['home_team'] = self.train['home_team'].map(teams_labels)
        self.train['away_team'] = self.train['away_team'].map(teams_labels)
        self.test['home_team'] = self.test['home_team'].map(teams_labels)
        self.test['away_team'] = self.test['away_team'].map(teams_labels)

    
    def categorical_encoding(self):
        labelencoder = LabelEncoder()
        for col in ['day_of_week', 'season']:
            self.train.loc[:, col] = labelencoder.fit_transform(self.train.loc[:, col])
            self.test.loc[:, col] = labelencoder.fit_transform(self.test.loc[:, col])
        
    
    
    def season_current_pos(self):
        pass
    
    def split(self):
        train_shape = int(0.85 * self.train.shape[0])
        val_shape = int(0.1 * self.train.shape[0])
        test_shape = int(0.05 * self.train.shape[0])
        val_range = [i for i in range(train_shape, train_shape+val_shape)]
        test_range = [i for i in range(train_shape+val_shape, self.train.shape[0])]
        train_range = [i for i in range(train_shape)]
        self.val = self.train.loc[val_range]
        self.test = self.train.loc[test_range]

        self.train = self.train.loc[train_range]

In [144]:
train_data.shape

(1740, 29)

In [145]:
context = {'train':train_data,
            'test':test_data,
           'numeric':numeric_features,
           'categorical':categorical_features
          }

In [146]:
transformer = DataTransformer(context)
train, val, test = transformer.run_logic()

In [147]:
train.shape, val.shape, test.shape

((1479, 25), (174, 25), (87, 25))

In [148]:
X_train, y_train = train.drop(columns=['target']), train.target
X_val, y_val = val.drop(columns=['target']), val.target
X_test, y_test = test.drop(columns=['target']), test.target

# Baseline model

In [149]:
from catboost import CatBoostClassifier, Pool

In [150]:
from sklearn.metrics import roc_auc_score, log_loss, accuracy_score

In [151]:
cat_features = list(categorical_features)

Train = Pool(data=X_train,
             label=y_train,
             cat_features=cat_features)
            
Valid = Pool(data=X_val,
             label=y_val,
             cat_features=cat_features)

In [152]:
model = CatBoostClassifier( random_seed = 17,     
                           n_estimators = 1000,
                           learning_rate = 0.01,
                            thread_count = -1, 
                            verbose = 100,  
                            loss_function='MultiClass',
                            task_type = "GPU",
                          early_stopping_rounds=100)


model.fit(Train, eval_set=Valid)
preds_class = model.predict(Valid)
preds_proba = model.predict_proba(Valid)

0:	learn: 1.0963520	test: 1.0962085	best: 1.0962085 (0)	total: 7.99ms	remaining: 7.98s
100:	learn: 0.9492786	test: 0.9762645	best: 0.9762645 (100)	total: 548ms	remaining: 4.88s
200:	learn: 0.9020711	test: 0.9542978	best: 0.9542920 (199)	total: 1.23s	remaining: 4.89s
300:	learn: 0.8743708	test: 0.9506198	best: 0.9504668 (281)	total: 1.91s	remaining: 4.45s
bestTest = 0.9504668137
bestIteration = 281
Shrink model to first 282 iterations.

In [153]:
print(f'Validation ACCURACY SCORE: {accuracy_score(y_val, preds_class)}')

Validation ACCURACY SCORE: 0.5747126436781609

In [154]:
print(f'Validation ROC AUC SCORE: {roc_auc_score(y_val, preds_proba, multi_class="ovr")}')

Validation ROC AUC SCORE: 0.7105679379699902

In [155]:
roc_auc_score(y_val, preds_proba, multi_class='ovr')

0.7105679379699902

In [156]:
test_proba = model.predict_proba(X_test)

In [157]:
test

,day_of_week,season,home_team,away_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,target
1653,2,5,14,5,1.71,3.88,5.34,1.17,2.25,1.29,1.06,9.61,1.26,3.88,1.40,2.96,1.84,2.05,2.43,1.58,3.06,1.38,1.79,2.05,1
1654,3,5,30,17,4.96,3.76,1.77,2.14,1.19,1.30,1.07,7.64,1.32,3.38,1.53,2.56,2.02,1.86,2.77,1.45,3.42,1.31,1.89,1.91,2
1655,6,5,22,14,2.32,3.54,3.14,1.41,1.65,1.33,1.05,10.42,1.24,4.02,1.36,3.11,1.79,2.11,2.31,1.63,2.85,1.43,1.61,2.34,1
1656,2,5,27,1,3.58,3.35,2.20,1.73,1.32,1.35,1.09,7.07,1.36,3.21,1.58,2.42,2.11,1.78,2.94,1.40,3.71,1.27,1.84,1.97,0
1657,2,5,13,27,1.76,3.97,4.65,1.21,2.14,1.28,1.04,10.32,1.20,4.54,1.28,3.63,1.63,2.33,2.04,1.85,2.54,1.54,1.62,2.30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,1,5,8,4,2.91,3.12,2.71,1.50,1.44,1.40,1.11,6.21,1.41,2.94,1.74,2.17,2.30,1.64,3.41,1.31,4.17,1.22,1.92,1.90,1
1736,3,5,13,3,1.86,3.56,4.68,1.22,2.01,1.33,1.08,7.27,1.35,3.24,1.58,2.43,2.11,1.78,2.97,1.39,3.73,1.27,1.95,1.87,1
1737,2,5,4,0,3.37,3.31,2.30,1.67,1.35,1.37,1.08,7.54,1.33,3.35,1.55,2.50,2.07,1.81,2.80,1.44,3.50,1.30,1.78,2.06,1
1738,2,6,14,13,2.01,3.79,3.66,1.31,1.85,1.31,1.02,10.79,1.17,4.99,1.23,4.03,1.55,2.50,1.87,2.00,2.35,1.62,1.49,2.61,0
1739,2,5,20,27,2.30,3.34,3.37,1.35,1.68,1.36,1.08,7.58,1.33,3.35,1.54,2.52,2.06,1.83,2.79,1.44,3.51,1.30,1.79,2.05,2

In [63]:
test_proba[:10]

array([[0.26420967, 0.32941149, 0.40637885],
       [0.22966717, 0.24172093, 0.52861191],
       [0.41911256, 0.28001365, 0.30087379],
       [0.55193217, 0.23288228, 0.21518555],
       [0.59808297, 0.20293859, 0.19897844],
       [0.45823987, 0.25907137, 0.28268875],
       [0.32511229, 0.32508986, 0.34979785],
       [0.35597813, 0.28083924, 0.36318263],
       [0.35024672, 0.25112438, 0.3986289 ],
       [0.59442683, 0.22578487, 0.1797883 ]])

In [81]:
# all_teams = train_data.sort_values(by='home_team').home_team.unique()
teams_labels = {team:number for number, team in enumerate(all_teams)}
decode_teams = {number:team for number, team in enumerate(all_teams)}

In [161]:
test_predictions = pd.DataFrame()
test_predictions['home_team'] = X_test.home_team.map(decode_teams)
test_predictions['away_team'] = X_test.away_team.map(decode_teams)
test_predictions['home_win_proba'] = test_proba[:,0]
test_predictions['draw_proba'] = test_proba[:,1]
test_predictions['away_win_proba'] = test_proba[:,2]
test_predictions['home_win_rate'] = X_test.home_win_rate
test_predictions['draw_rate'] = X_test.draw_rate
test_predictions['away_win_rate'] = X_test.away_win_rate
test_predictions['result'] = y_test

In [162]:
test_predictions

,home_team,away_team,home_win_proba,draw_proba,away_win_proba,home_win_rate,draw_rate,away_win_rate,result
1653,Leicester,Burnley,0.578251,0.221437,0.200312,1.71,3.88,5.34,1
1654,Wolves,Manchester Utd,0.230478,0.211940,0.557582,4.96,3.76,1.77,2
1655,Southampton,Leicester,0.395428,0.266321,0.338251,2.32,3.54,3.14,1
1656,Watford,Aston Villa,0.355314,0.283448,0.361238,3.58,3.35,2.20,0
1657,Leeds,Watford,0.584339,0.198582,0.217079,1.76,3.97,4.65,0
...,...,...,...,...,...,...,...,...,...
1735,Crystal Palace,Brighton,0.368803,0.303027,0.328170,2.91,3.12,2.71,1
1736,Leeds,Brentford,0.556298,0.226925,0.216777,1.86,3.56,4.68,1
1737,Brighton,Arsenal,0.324315,0.289445,0.386240,3.37,3.31,2.30,1
1738,Leicester,Leeds,0.444357,0.240499,0.315144,2.01,3.79,3.66,0
1739,Norwich,Watford,0.436577,0.279590,0.283833,2.30,3.34,3.37,2

# Считаем ROI

In [163]:
class ROIChecker():
    def __init__(self, predictions):
        self.predictions = predictions
        self.roi_info = pd.DataFrame()

    
    def get_roi(self):
        
        self.predictions['home_win_ROI'] = self.predictions.home_win_rate * self.predictions.home_win_proba - 1
        self.predictions['away_win_ROI'] = self.predictions.away_win_rate * self.predictions.away_win_proba - 1
        self.predictions['draw_ROI'] = self.predictions.draw_rate * self.predictions.draw_proba - 1
        
        
        return self.predictions

In [164]:
checker = ROIChecker(test_predictions)
roi_info = checker.get_roi()

In [165]:
roi_info.head()

,home_team,away_team,home_win_proba,draw_proba,away_win_proba,home_win_rate,draw_rate,away_win_rate,result,home_win_ROI,away_win_ROI,draw_ROI
1653,Leicester,Burnley,0.578251,0.221437,0.200312,1.71,3.88,5.34,1,-0.011190,0.069664,-0.140825
1654,Wolves,Manchester Utd,0.230478,0.211940,0.557582,4.96,3.76,1.77,2,0.143171,-0.013081,-0.203104
1655,Southampton,Leicester,0.395428,0.266321,0.338251,2.32,3.54,3.14,1,-0.082607,0.062108,-0.057224
1656,Watford,Aston Villa,0.355314,0.283448,0.361238,3.58,3.35,2.20,0,0.272025,-0.205277,-0.050450
1657,Leeds,Watford,0.584339,0.198582,0.217079,1.76,3.97,4.65,0,0.028437,0.009417,-0.211630

In [166]:
def explain_roi_info(roi_info):
    roi_cols = ['home_win_ROI', 'away_win_ROI', 'draw_ROI']
    best_roi_df = pd.DataFrame()
    for index, row in roi_info.iterrows():
        print(f"Match #{index+1}: {row.home_team} vs {row.away_team}")
        
        max_roi = np.max(roi_info.loc[index, roi_cols])
        current_choice = 'home_win_ROI'
        
        for col in roi_cols:
            if row[col] == max_roi:
                current_choice = col
        current_choice = ' '.join(current_choice.split('_')[:1])
        
        if max_roi > 0:
            print(f"Maximal ROI = {max_roi*100}% on {current_choice}")
        
        else:
            print("Нет положительного ROI")
            
        print('_______________________________ \n')
        
        best_roi_df.loc[index, 'home_team'] = row.home_team
        best_roi_df.loc[index, 'away_team'] = row.away_team
        best_roi_df.loc[index, 'best_ROI'] = max_roi
        best_roi_df.loc[index, 'choice'] = current_choice
        best_roi_df.loc[index, 'home_win_rate'] = row.home_win_rate
        best_roi_df.loc[index, 'draw_rate'] = row.draw_rate
        best_roi_df.loc[index, 'away_win_rate'] = row.away_win_rate
        best_roi_df.loc[index, 'result'] = row.result
        
    return best_roi_df

In [167]:
best_roi_df = explain_roi_info(roi_info)

Match #1654: Leicester vs Burnley
Maximal ROI = 6.966421643222365% on away
_______________________________

Match #1655: Wolves vs Manchester Utd
Maximal ROI = 14.317097427326697% on home
_______________________________

Match #1656: Southampton vs Leicester
Maximal ROI = 6.210823635371043% on away
_______________________________

Match #1657: Watford vs Aston Villa
Maximal ROI = 27.202543035280048% on home
_______________________________

Match #1658: Leeds vs Watford
Maximal ROI = 2.8437199895582133% on home
_______________________________

Match #1659: Newcastle vs Aston Villa
Maximal ROI = 11.531038196934396% on home
_______________________________

Match #1660: Southampton vs Norwich
Maximal ROI = 19.929543434201904% on away
_______________________________

Match #1661: Wolves vs Tottenham
Нет положительного ROI
_______________________________

Match #1662: Liverpool vs Arsenal
Maximal ROI = 4.775196178174301% on home
_______________________________

Match #1663: West Ham vs Tottenham
Нет положительного ROI
_______________________________

Match #1664: Arsenal vs West Ham
Maximal ROI = 1.1615053793559982% on away
_______________________________

Match #1665: Watford vs Chelsea
Maximal ROI = 50.95452650462595% on home
_______________________________

Match #1666: Crystal Palace vs Wolves
Maximal ROI = 6.70631647889155% on draw
_______________________________

Match #1667: Leeds vs Wolves
Нет положительного ROI
_______________________________

Match #1668: Brighton vs Newcastle
Maximal ROI = 7.241018582300862% on away
_______________________________

Match #1669: Leeds vs Liverpool
Нет положительного ROI
_______________________________

Match #1670: Everton vs Norwich
Maximal ROI = 8.154803429604085% on away
_______________________________

Match #1671: Norwich vs Manchester Utd
Maximal ROI = 1.0397474722735556% on home
_______________________________

Match #1672: Liverpool vs Newcastle
Maximal ROI = 160.49992512816095% on away
_______________________________

Match #1673: Everton vs Tottenham
Maximal ROI = 11.419098827284891% on home
_______________________________

Match #1674: Southampton vs Manchester Utd
Maximal ROI = 7.952745214860113% on away
_______________________________

Match #1675: Chelsea vs Crystal Palace
Maximal ROI = 91.53820781253987% on away
_______________________________

Match #1676: Norwich vs Brentford
Maximal ROI = 9.089423305009415% on home
_______________________________

Match #1677: Wolves vs Leicester
Maximal ROI = 13.090674779088939% on away
_______________________________

Match #1678: Norwich vs Manchester City
Maximal ROI = 125.48899995382823% on home
_______________________________

Match #1679: Leeds vs Arsenal
Maximal ROI = 6.70689669164124% on away
_______________________________

Match #1680: Burnley vs Liverpool
Maximal ROI = 70.60419126359616% on home
_______________________________

Match #1681: Brentford vs Everton
Maximal ROI = 11.199427620988667% on away
_______________________________

Match #1682: Leicester vs Arsenal
Maximal ROI = 1.3356296725015593% on draw
_______________________________

Match #1683: Burnley vs Brighton
Maximal ROI = 21.359273535171887% on home
_______________________________

Match #1684: Chelsea vs Norwich
Maximal ROI = 118.2774483311471% on away
_______________________________

Match #1685: West Ham vs Manchester Utd
Maximal ROI = 7.088914494656251% on home
_______________________________

Match #1686: Newcastle vs Brighton
Maximal ROI = 4.015966049320774% on draw
_______________________________

Match #1687: Leeds vs West Ham
Maximal ROI = 15.025079213108516% on away
_______________________________

Match #1688: Arsenal vs Tottenham
Maximal ROI = 1.4662878122684742% on home
_______________________________

Match #1689: Wolves vs Brentford
Maximal ROI = 23.051581933377662% on away
_______________________________

Match #1690: Brighton vs Wolves
Maximal ROI = 2.8083857630679443% on away
_______________________________

Match #1691: Brentford vs Arsenal
Maximal ROI = 20.39983361357296% on home
_______________________________

Match #1692: West Ham vs Liverpool
Maximal ROI = 8.3472391403151% on draw
_______________________________

Match #1693: Watford vs Newcastle
Maximal ROI = 2.8537804322457117% on away
_______________________________

Match #1694: Brighton vs Burnley
Maximal ROI = 27.0538748099715% on away
_______________________________

Match #1695: Brentford vs Norwich
Maximal ROI = 12.003015437262832% on away
_______________________________

Match #1696: Crystal Palace vs Burnley
Maximal ROI = 26.729763687595522% on away
_______________________________

Match #1697: Burnley vs Crystal Palace
Нет положительного ROI
_______________________________

Match #1698: West Ham vs Leicester
Maximal ROI = 7.829737328726272% on away
_______________________________

Match #1699: Liverpool vs Manchester City
Maximal ROI = 1.5969460680490988% on home
_______________________________

Match #1700: Tottenham vs Everton
Нет положительного ROI
_______________________________

Match #1701: Manchester Utd vs Southampton
Maximal ROI = 2.1804483497106286% on draw
_______________________________

Match #1702: Newcastle vs Chelsea
Maximal ROI = 18.48471947628547% on home
_______________________________

Match #1703: Manchester City vs Burnley
Maximal ROI = 93.70520020758455% on away
_______________________________

Match #1704: Crystal Palace vs Leicester
Maximal ROI = 2.061190765599674% on away
_______________________________

Match #1705: Tottenham vs Watford
Maximal ROI = 32.75307226495612% on away
_______________________________

Match #1706: Newcastle vs Brentford
Нет положительного ROI
_______________________________

Match #1707: Crystal Palace vs Tottenham
Maximal ROI = 27.678658333509688% on home
_______________________________

Match #1708: Liverpool vs Brighton
Maximal ROI = 20.11948891966149% on away
_______________________________

Match #1709: Southampton vs Everton
Maximal ROI = 8.500206047626158% on away
_______________________________

Match #1710: Burnley vs Norwich
Maximal ROI = 0.6235833933062596% on home
_______________________________

Match #1711: Aston Villa vs Leicester
Maximal ROI = 6.72788660605641% on away
_______________________________

Match #1712: Everton vs Liverpool
Maximal ROI = 26.58571949262869% on home
_______________________________

Match #1713: Brentford vs Leicester
Нет положительного ROI
_______________________________

Match #1714: Southampton vs Leeds
Maximal ROI = 0.2731435979685948% on home
_______________________________

Match #1715: Chelsea vs Everton
Maximal ROI = 214.34691765103832% on away
_______________________________

Match #1716: Brighton vs Leeds
Maximal ROI = 0.6966175379417239% on home
_______________________________

Match #1717: Everton vs Manchester City
Maximal ROI = 76.15626710207717% on home
_______________________________

Match #1718: Norwich vs Wolves
Maximal ROI = 20.795434789616607% on home
_______________________________

Match #1719: Chelsea vs Aston Villa
Maximal ROI = 45.49586294553756% on away
_______________________________

Match #1720: Tottenham vs Wolves
Maximal ROI = 14.399159272847516% on away
_______________________________

Match #1721: Watford vs Wolves
Maximal ROI = 26.814940604462656% on home
_______________________________

Match #1722: Liverpool vs Norwich
Maximal ROI = 117.07299201076626% on away
_______________________________

Match #1723: Brighton vs Leicester
Maximal ROI = 0.16943856128870394% on away
_______________________________

Match #1724: Watford vs Southampton
Maximal ROI = 11.057424056045374% on home
_______________________________

Match #1725: Liverpool vs Leicester
Maximal ROI = 79.39917104352266% on away
_______________________________

Match #1726: Newcastle vs Leeds
Maximal ROI = 11.472254694019334% on away
_______________________________

Match #1727: Everton vs Arsenal
Maximal ROI = 4.288610214328603% on home
_______________________________

Match #1728: Aston Villa vs Everton
Maximal ROI = 5.661595250002538% on away
_______________________________

Match #1729: Norwich vs Aston Villa
Maximal ROI = 27.55241802636428% on home
_______________________________

Match #1730: Wolves vs Newcastle
Maximal ROI = 2.3011638072332197% on home
_______________________________

Match #1731: Burnley vs West Ham
Maximal ROI = 10.335082678153572% on home
_______________________________

Match #1732: Leicester vs Chelsea
Maximal ROI = 21.861941070695167% on home
_______________________________

Match #1733: Crystal Palace vs Everton
Maximal ROI = 4.116347341981785% on away
_______________________________

Match #1734: Crystal Palace vs Chelsea
Maximal ROI = 26.627112970715938% on home
_______________________________

Match #1735: Arsenal vs Newcastle
Нет положительного ROI
_______________________________

Match #1736: Crystal Palace vs Brighton
Maximal ROI = 7.321716771534326% on home
_______________________________

Match #1737: Leeds vs Brentford
Maximal ROI = 3.47136568806945% on home
_______________________________

Match #1738: Brighton vs Arsenal
Maximal ROI = 9.294229757524208% on home
_______________________________

Match #1739: Leicester vs Leeds
Maximal ROI = 15.342862487072528% on away
_______________________________

Match #1740: Norwich vs Watford
Maximal ROI = 0.4127897676050374% on home
_______________________________

In [168]:
best_roi_df

,home_team,away_team,best_ROI,choice,home_win_rate,draw_rate,away_win_rate,result
1653,Leicester,Burnley,0.069664,away,1.71,3.88,5.34,1.0
1654,Wolves,Manchester Utd,0.143171,home,4.96,3.76,1.77,2.0
1655,Southampton,Leicester,0.062108,away,2.32,3.54,3.14,1.0
1656,Watford,Aston Villa,0.272025,home,3.58,3.35,2.20,0.0
1657,Leeds,Watford,0.028437,home,1.76,3.97,4.65,0.0
...,...,...,...,...,...,...,...,...
1735,Crystal Palace,Brighton,0.073217,home,2.91,3.12,2.71,1.0
1736,Leeds,Brentford,0.034714,home,1.86,3.56,4.68,1.0
1737,Brighton,Arsenal,0.092942,home,3.37,3.31,2.30,1.0
1738,Leicester,Leeds,0.153429,away,2.01,3.79,3.66,0.0
1739,Norwich,Watford,0.004128,home,2.30,3.34,3.37,2.0

In [181]:
def money_score(best_roi_df, bet=100):
    results = {'home':0, 'draw':1, 'away':2}
    cols = {'home':'home_win_rate', 'draw':'draw_rate', 'away':'away_win_rate'}
    profit = 0
    skipped_bets = 0
    accepted_bets = 0
    
    for index, row in best_roi_df.iterrows():
        if row[cols[row.choice]] > 2.5:
                skipped_bets += 1
        else:
            accepted_bets += 1

            if results[row.choice] == row.result:

                current_profit = bet * (row[cols[row.choice]] - 1)
                profit += current_profit
                print(row.choice, row[cols[row.choice]], current_profit)
            else:
                profit -= bet
    return profit, skipped_bets, accepted_bets

In [183]:
score = money_score(best_roi_df, 100)

home 1.76 76.0
home 1.52 52.0
away 1.65 64.99999999999999
away 1.6 60.00000000000001
away 2.37 137.0
home 2.23 123.0
home 2.15 114.99999999999999
home 1.77 77.0

In [185]:
print(f'Skipped bets: {score[1]} \nAccepted bets: {score[2]} \nProfit: {score[0]}$')

Skipped bets: 73
Accepted bets: 14
Profit: 105.0$

# Наброски фичей

In [65]:
train_data.groupby(['home_team'],as_index=False).mean().head()

,home_team,home_win_rate,draw_rate,away_win_rate,home_double_chance_rate,away_double_chance_rate,no_draw_rate,total_over_1_rate,total_under_1_rate,total_over_15_rate,total_under_15_rate,total_over_2_rate,total_under_2_rate,total_over_25_rate,total_under_25_rate,total_over_3_rate,total_under_3_rate,total_over_35_rate,total_under_35_rate,both_team_to_score_yes,both_team_to_score_no,home_scored,away_scored
0,Arsenal,2.044773,4.728864,6.356023,1.280795,2.522159,1.205341,0.883295,10.447727,1.185227,4.966364,1.277500,4.084091,1.627045,2.457386,2.025227,1.961023,2.557727,1.591932,1.723750,2.213636,2.034091,1.034091
1,Aston Villa,3.620244,4.000000,2.884146,1.810244,1.565610,1.290976,1.030488,9.488049,1.240732,4.263902,1.381707,3.315610,1.783171,2.192683,2.336098,1.727805,2.912439,1.465366,1.688780,2.223659,1.536585,1.536585
2,Bournemouth,3.343051,3.779153,2.922203,1.604237,1.508644,1.256610,0.941356,9.224746,1.243390,4.091864,1.386441,3.278644,1.841356,2.101186,2.431525,1.665085,2.992203,1.425932,1.708644,2.208983,1.576271,1.406780
3,Brentford,3.574000,3.594000,2.853000,1.730000,1.503000,1.335000,1.091000,7.315000,1.359000,3.271000,1.603000,2.506000,2.127000,1.802000,3.029000,1.419000,3.752000,1.291000,1.899000,1.931000,1.000000,1.200000
4,Brighton,3.783194,3.741389,2.978194,1.775556,1.536111,1.314444,1.081528,8.144861,1.321250,3.518611,1.551667,2.707500,2.063056,1.883611,2.961528,1.488056,3.581528,1.321250,1.885000,1.960139,1.055556,1.416667

In [47]:
train_data.loc[:,['away_team', 'season', 'away_scored']].groupby(['away_team','season'], as_index=False).sum()

    away_team  season  away_scored
0     Arsenal    2016           13
1     Arsenal    2017           27
2     Arsenal    2018           28
3     Arsenal    2019           18
4     Arsenal    2020           11
..        ...     ...          ...
150    Wolves    2018           11
151    Wolves    2019           19
152    Wolves    2020           14
153    Wolves    2021           16
154    Wolves    2022            3

[155 rows x 3 columns]